.properties p {
  margin-bottom: 20px;
}

ul > li {
  margin: 7px 0;
}

ul > li > img {
  margin-top: 7px;
}

.json h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.portfolio {
  text-decoration: none;
  color: darkblue;
  letter-spacing: 0.03rem;
  font-weight: 500;
}
